*.apk
*.aab
*.dex
*.class
/build/
/*/build/
.gradle/
.kotlin/
.idea/
*.iml
local.properties
*.log
*.keystore
*.jks
keystore.properties

# empty repo GitHub Desktop created inside the folder
/Zion-Android/
